body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vh;
}

input[type="text"] {
  line-height: 1;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
}

.btn {
  font-weight: bold;
  border-radius: 5px;
  border: unset;
  padding: 0.5rem;
  line-height: 1;
  cursor: pointer;
}

.btn--add {
  background-color: lightgray;
  border: 2px solid #a0a0a0;
}

.btn--delete {
  background-color: red;
  color: #fff;
}

#site-header,
#site-footer,
#main-content {
  width: 60vmin;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
}

#todo-form {
  margin-bottom: 1.5rem;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
}

.filter > label {
  cursor: pointer;
}

.filter > label:hover {
  cursor: pointer;
  color: orange;
}

.filter > input[type="radio"] {
  display: none;
}

#todo-list {
  list-style: none;
  background-color: lightgray;
  padding: 2rem;
  border-radius: 0.5rem;
}

.todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  overflow: hidden;
}

.todo--hidden {
  display: none;
}

.todo--done .todo-text {
  text-decoration: line-through;
}

/* .todo::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "Delete todo";
  display: none;
  background-color: red;
  color: #fff;
  font-weight: bold;
} */

/* .todo:hover::before {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.todo-controls {
  display: flex;
  align-items: center;
}

.todo-state-toggle {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.todo:last-of-type {
  margin-bottom: unset;
}

.input-error {
  border: 2px solid red;
}

.error {
  display: none;
  background-color: red;
  color: #fff;
  padding: 2rem;
  margin-top: 1rem;
}

.error--show {
  display: block;
}
