body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vh;
}

#site-header,
#site-footer,
#main-content {
  width: 60vmin;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
}

#todo-list {
  list-style: none;
  background-color: lightgray;
  padding: 2rem;
}

.todo {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.todo::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "Delete todo";
  display: none;
  background-color: red;
  color: #fff;
  font-weight: bold;
}

.todo:hover::before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tod .todo:last-of-type {
  margin-bottom: unset;
}

.input-error {
  border: 2px solid red;
}

.error {
  display: none;
  background-color: red;
  color: #fff;
  padding: 2rem;
  margin-top: 1rem;
}
